
<div class="contact-widget">
  <button class="toggle-btn" id="chat-toggle">
    <span id="icon-wrapper">
      <img id="chat-icon-img" src="/assets/images/icon/contact_widget_icon.svg" width="50" height="50" alt="Chat Icon">
      <svg id="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" viewBox="0 0 24 24" class="hidden">
        <path d="M4 7l8 10 8-10"/>
      </svg>
    </span>
  </button>

  <div class="chat-popup" id="chat-popup">
    <textarea id="chat-message" placeholder="Type your message..."></textarea>
    <button class="send-btn" id="send-chat">Send message</button>
  </div>
</div>
