<footer class="footer">
    <div class="footer-content">
      <!-- โลโก้และลิขสิทธิ์ -->
      <div class="footer-logo">
        <img src="../assets/images/Green_-Target150.svg" alt="Target150 Logo">
        <p>© 2024 Target150, A Knightsbridge Group Company. All rights reserved.</p>
      </div>
  
      <!-- เมนูหลัก -->
      <div class="footer-menus">
        <div class="column">
          <h4>Stem Cell Therapy</h4>
          <ul>
            <li><a href="../pages/medical.html">Medical</a></li>
            <li><a href="../pages/afs_cells.html">AFS Cells</a></li>
            <li><a href="../pages/cosmehc.html">CosmeHC</a></li>
            <li><a href="../pages/restorative.html">Restorative</a></li>
            <li><a href="../pages/hair_restoration.html">Hair Regeneration</a></li>
          </ul>
          <h4>NK Cells</h4>
          <ul>
            <li><a href="../pages/nk_cells_therapy.html">NK Cell Therapy</a></li>
            <li><a href="../pages/immunity_test.html">Immunity test</a></li>
          </ul>
        </div>
  
        <div class="column">
          <h4>Stem Cell Banking</h4>
          <ul>
            <li><a href="../pages/stem_crlls_bank.html">Stem Cell Bank</a></li>
            <li><a href="../pages/collection.html">Collection</a></li>
            <li><a href="../pages/our_laboratory.html">Our Laboratory</a></li>
          </ul>
          <h4>Bio Longevity Screening</h4>
          <ul>
            <li><a href="../pages/immunity_test.html">Immunity test</a></li>
            <li><a href="../pages/hormone_test.html">Hormone test</a></li>
            <li><a href="../pages/vitamin_test.html">Vitamin test</a></li>
            <li><a href="../pages/micronutrient_test.html">Micronutrients test</a></li>
          </ul>
        </div>
  
        <div class="column">
          <h4>More Services</h4>
          <ul>
            <li><a href="#">Skin Aesthetic</a></li>
            <li><a href="#">Weight Management</a></li>
            <li><a href="#">Spa</a></li>
            <li><a href="#">Personal Health Liaison</a></li>
            <li><a href="#">Personalized Vitamins & Supplements</a></li>
            <li><a href="../pages/research.html">Research</a></li>
            <li><a href="#">Your respond Hakmi Liaison</a></li>
            <li><a href="#">Consult with your doctor</a></li>
          </ul>
        </div>
  
        <div class="column">
          <h4>Research Topics</h4>
          <ul>
            <li><a href="#">Stem Cell Therapy for Spinal Cord Injuries</a></li>
            <li><a href="#">Stem Cell Therapy for Heart Disease</a></li>
            <li><a href="#">Stem Cells for Parkinson's Disease</a></li>
            <li><a href="#">Stem Cells for Type 1 Diabetes</a></li>
          </ul>
        </div>
  
        <div class="column contact-column">
          <h4>Disclaimer</h4>
          <h4>Contact Us</h4>
          <ul>
            <li>
              <img src="../assets/images/icon/icon_gmail.svg" alt="email" width="16" style="vertical-align: middle; margin-right: 5px;">
              <a href="mailto:contact@target150.com">contact@target150.com</a>
            </li>
            <li>
              <img src="../assets/images/icon/icon_phone.svg" alt="phone" width="16" style="vertical-align: middle; margin-right: 5px;">
              +66 2 664 7488
            </li>
            <li>
              622 Emporium Tower Sukhumvit 24<br>
              Klongton Klongtoey Bangkok 10110 Thailand
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  